html, body {
    margin: 0;
    background-color: #e5ecee;
}

.navbar-light {
    background-color: rgb(22, 102, 120);
}


.navbar-nav a {
    color: white!important;
    font-weight: 600;
}

.navbar-nav .dropdown-menu a {
    color: rgb(255, 195, 17)!important;
}

.navbar-nav a:hover {
    color: rgb(125, 185, 179) !important;
}

.content {
    background-color: #e5ecee;
}

footer {
    background-color: rgb(22, 102, 120);
    color: white!important;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.container-sm{
    padding: 0.5rem 0.5rem;
    margin: 1rem auto;
    text-align: justify;
}

.container .row {
    margin: 2rem;
    padding: 1rem;
}

.row {
    margin: 0.5rem;
}